*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table{
    padding: 42px;
}
body h3{
    padding: 12px 128px;
}
.table_row td{
    border: 1px solid grey;
    width: 35px;  
}
.table_row td:nth-child(1){
    width: 150px;
}
